<!DOCTYPE html>
<html lang="es">

<%- include ('../partials/head.ejs') %>

    <body>
        <!-- header -->
        <%- include('../partials/header.ejs') %>
            <!-- /header -->

            <div class="container products-crate">
                <div class="row">
                  <div class="colo-12">
                      <h2  class="product-title">formulario de creación de Productos </h2>
                      </div>
                           </div>












                <%- include ('../partials/footer.ejs') %>

    </body>

</html>