<%- include ('../partials/head.ejs') %>

<%- include('../partials/header.ejs') %>

<div class="titleProducts1">
  <h3> Agregaste a tu carrito:</h1>

    <div class="buttonListProduct">
      <button onclick="location.href='/products'">Seguir comprando</button>
  </div>
</div>

             <div class="table-responsive">
                <table class="table-product-car table table table-hover">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col" style="text-align: center;">Producto</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Subtotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row1" style="width: 30%;"><img src="/images/products/Apple Macbook Pro.jpg" alt="product image" class="product-detail-img"></i></a></td>
                      <td class="carro--destacada">Apple Macbook Pro</td>
                      <td class="carro__precio">$630.00</td>
                      <td><input type="number" value="1" min="0" max="999" step="1"></td>
                      <td class="carro__precio">$630.00</td>
                    </tr>

                    <tr>
                      <td scope="row1" style="width: 30%;"><img src="/images/products/Notebook Dell Inspiron 3505 Negra.jpg" alt="product image" class="product-detail-img"></i></a></td>
                      <td class="carro--destacada">Dell Inspiron 3505 Negra</td>
                      <td class="carro__precio">$114.00</td>
                      <td><input type="number" value="1" min="0" max="999" step="1"></td>
                      <td class="carro__precio">$114.00</td>
                    </tr>
                    
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td></td>
                      <td class="carro__total-titulo carro--destacada carro--centrada">TOTAL:</td>
                      <td class="carro__total-valor">$630.000</td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
              <div style="padding: 0px 30%;text-align-last: center;">
              <button class="carro-button">Finalizar la Compra</button>
            </div>
              
               
              <%- include('../partials/footer.ejs') %>