<%- include ('../partials/head.ejs') %>

<%- include('../partials/header.ejs') %>
<%- include('../partials/carrousel.ejs') %>


        <img src="/images/carrito.jpg"
        <style>
        h1 {
            text-align:center;
            <title>Carrito de Compras</title>
        }
        </style>
            <h2>{Productos</h2>
            text-align:rigth;
            <h1>Descripción del producto</h1>
        </style>   
        <section>
            <h2>Total</h2>
        </section>
        <section>
            text-
            color: green
            <h2>Comprar</h2>
        </section>

     <%- include('../partials/footer.ejs') %>