<%- include ('../partials/head.ejs') %>

<%- include('../partials/header.ejs') %>
<%- include('../partials/carrousel.ejs') %>

            <!-- Aqui comienzan los productos  -->

            <h1>Productos:</h1>

            <section class="contenedor-wrapper">
                <div class="contenedor-Productos">
                    <div class="card-producto">
                        <img class="card-producto-img" src="images/Notebook Macbook Pro.jpg" alt="Notebook-MacbooP">
                        <div class="contenedor-descripcion">
                           <h3> <strong>Notebook Macbook Pro</strong> </h3>
                            <p> Intel UHD Graphics 617</p>
                            <p>Core i5</p>
                            <strong>$399.999</strong>
                            <br>
                            <div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div> 
                            <div class="contenedor-envio"> Envío gratis</div>
                            <br>
                            <button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
                            <button onclick="location.href='/carrito-de-compras'">Añadir a carrito</button>
                        </div>

                    </div>

                    <!-- segundo producto -->

                    <div class="card-producto">
                        <img class="card-producto-img" src="images/laptop-mac.jpg" alt="laptop-mac">
                        <div class="contenedor-descripcion">
                            <h3><strong>Macboo Pro 2019</strong></h3>
                            <p>macOS</p>
                            <p>Core i5 </p>
                            <strong>$306.000</strong>
                            <br>
                            <div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div> 
                            <div class="contenedor-envio"> Envío gratis</div>
                            <br>
                            <button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
                            <button onclick="location.href='/carrito-de-compras'">Añadir a carrito</button>
                        </div>

                    </div>

                    <!-- tercer producto -->

                    <div class="card-producto">
                        <img class="card-producto-img" src="images/Notebook Macbook Air.jpg" alt="Notebook Macboo Air">
                        <div class="contenedor-descripcion">
                            <h3><strong>Notebook Macbook Air</strong></h3>
                            <p>Apple GPU</p>
                            <p>M1 Chip 8-Nucleos CPU </p>
                            <strong>$269.999</strong>
                            <br>
                            <div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div> 
                            <div class="contenedor-envio"> Envío gratis</div>
                            <br>
                            <button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
                            <button onclick="location.href='/carrito-de-compras'">Añadir a carrito</button>
                        </div>

                    </div>

                    <!-- cuarto producto -->

                    <div class="card-producto">
                        <img class="card-producto-img" src="images/imagen de pc 3 Notebook Lenovo.jpg"
                            alt="Notebook Lenovo">
                        <div class="contenedor-descripcion">
                            <h3><strong>Notebook Lenovo IDEAPAD 3 15ITL05</strong></h3>
                            <p> Intel Core i3</p>
                            <p> 6M Cache, up to 4.10 GHz</p>
                            <strong>$79.999</strong>
                            <br>
                            <div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div> 
                            <div class="contenedor-envio"> Envío gratis</div>
                            <br>
                            <button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
                            <button onclick="location.href='/carrito-de-compras'">Añadir a carrito</button>
                        </div>

                    </div>


                    <!-- quinto producto -->

                    <div class="card-producto">
                        <img class="card-producto-img" src="images/Notebook DELL Inspiron14 3000.jpg"
                            alt="Notebook dell">
                        <div class="contenedor-descripcion">
                            <h3><strong> Notebook DELL Inspiron14 3000</strong></h3>
                            <p> Intel Core i3 </p>
                            <p> Intel Core i3-1005G1 (1.2 GHz – 3.4 GHz, 4 MB cache, 2 nucleos) </p>
                            <strong>$78.999</strong>
                            <br>
                            <div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div> 
                            <div class="contenedor-envio"> Envío gratis</div>
                            <br>
                            <button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
                            <button onclick="location.href='/carrito-de-compras'">Añadir a carrito</button>

                        </div>
                    </div>

                    <!-- quinto producto -->
                    <div class="card-producto">
                        <img class="card-producto-img" src="images/laptop-HP.jpg" alt="Notebook Hp">
                        <div class="contenedor-descripcion">
                            <h3><strong> Notebook DELL Inspiron14 3000</strong></h3>
                            <p> Procesador Celeron N4000 1,10 GHz </p>
                            <p> DDR4 de 4 GB 2400 MHz</p>
                            <strong>$65.000</strong>
                            <br>
                            <div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div> 
                            <div class="contenedor-envio"> Envío gratis</div>
                            <br>
                            <button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
                            <button onclick="location.href='/carrito-de-compras'">Añadir a carrito</button>

                        </div>
                    </div>


                    <!-- sexto producto -->

                    <div class="card-producto">
                        <img class="card-producto-img" src="images/pc-gamer-armada.jpg" alt="pc-gamer-armada">
                        <div class="contenedor-descripcion">
                            <h3><strong>Pc Armada Completa Intel I7</strong></h3>
                            <p> PIntel Core i7 </p>
                            <p> Windows 10 TRIAL 4gb</p>
                            <strong>$87.399</strong>
                            <br>
                            <div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div> 
                            <div class="contenedor-envio"> Envío gratis</div>
                            <br>
                            <button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
                            <button onclick="location.href='/carrito-de-compras'">Añadir a carrito</button>

                        </div>
                    </div>

            </section>
           <%- include ('../partials/footer.ejs') %>