<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200;1,300;1,400;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css">
    <title>Encoders</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/images/logo-trabajo-equipo.JPG" width="200" alt="Logo Encoders">
                <form action="/productDetail.html" method="GET">
                    <input type="text" name="producto" value="Buscar..." id="barraDeProductos">
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </div>    
    </header>
<body>
    <section>
        <!--desplegable del costado -->
        <!-- carrousel de imagenes-->
        <!-- arma tu pc -->
        <!-- algunas ofertas?? -->
    </section>
</body>
    <footer>
        <div class="categorias">
            <ul>categorias
                <li><a href="/views/index.html">Home</a></li>
                <li><a href="/views/login.html">Log in</a></li>
                <li><a href="/views/register.html">Registrate</a></li>
                <li><a href="/views/productDetail.html">Detalle de productos</a></li>
                <li><a href="/views/productCar.html">Carrito</a></li>
            </ul>
        </div>
        <a href="#">ayuda</a>
        <div class="redes-sociales">Seguinos en redes sociales
            <ul>
                <li><a href="https://es-la.facebook.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/640px-Facebook_icon.svg.png" alt="Facebook logo"></a></li>
                <li><a href="https://www.instagram.com/?hl=es-laole"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" alt="Instagram logo"></a></li>
                <li><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/WhatsApp_logo-color-vertical.svg/2048px-WhatsApp_logo-color-vertical.svg.png" alt="What's app logo"></a></li>
            </ul>
        </div>

        <!-- categorias -->
    </footer>
</body>
</html>