<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encoders</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/images/logo trabajo equipo.JPG" width="200">
                <form action="/productDetail.html" method="GET">
                    <input type="text" name="producto" value="Buscar..." id="barraDeProductos">
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </div>    
    </header>
    <section>
        <!--desplegable del costado -->
        <!-- carrousel de imagenes-->
        <!-- arma tu pc -->
        <!-- algunas ofertas?? -->
    </section>
    <footer>
        <!-- categorias -->
        <!-- ayuda -->
        <!-- seguinos en redes-->
    </footer>
</body>
</html>