<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <title>Encoders</title>
</head>
<body>
    <header>
        <div class="all-but-banner">
            <div class="container-logo-searchbar-cart">
                <div class="container-logo">
                    <a href="/">
                        <img class="img-logo" src="/images/logo-modelo-2.png" alt="Logo Encoders">
                    </a>
                </div>
                <div class="container-search-and-cart">
                    <form action="/detalle-de-producto">
                        <div id="search-lens">
                            <input id="searcher" type="text" name="searcher" placeholder="&#xF002; Buscá tu producto" style="font-family:Arial, FontAwesome">
                        </div>

                        <div class="container-cart">
                           <a href="/carrito-de-compras"> <i class="fas fa-shopping-cart"></i> </a>
                        </div>
                    </div>
                    <div class="container-titulo">
                        <h1 class="titulo">PC's por devs, para devs</h1>
                        </div>
                </div>
               
            </form>
            <nav class="Header-Navbar">
                <!-- Comienza el nav, listas dentro de  tags a -->
                <ul class="nav">
                    <a class="list-items-a" href="/login">
                        <li>Mi cuenta</li>
                    </a>
                    <a class="list-items-a" href="/registro">
                        <li>Registrate</li>
                    </a>
                    <a class="list-items-a" href="/carrito-de-compras">
                        <li>Mi Carrito</li>
                    </a>
                </ul>
                <!-- Termina el nav.-->
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        </div>
    </header>
    <main>
        <section>
            <div class="carrusel">
                <figure>
                    <img src="images/laptop-HP.jpg" alt="imagen1">
                    <img src="images/laptop-mac.jpg" alt="imagen2">
                    <img src="images/Notebook DELL inspiron14 3000.jpg" alt="imagen3">
                    <img src="images/Notebook Macbook Pro.jpg" alt="imagen4">
                    <img src="images/laptop-HP.jpg" alt="imagen5">
                </figure>
            </div>
        </section>
        <section class="arma-tu-pc"></section>
        <section>
            <h3>Ofertas limitadas</h3>
            <div class="contenedor-productos">
                <section class="ofertas">
                    <div class="productos">
                        <article>
                            <img src="images/laptop-HP.jpg" alt="Laptop-Hp" width="500px" class="imagen-de-producto">
                            <div class="main-articulo">
                                <p class="precio">$</p>
                                <p class="descuento">mouse inalambrico de regalo</p>
                                <h4 class="descripcion">Laptop Hp stream pro 11</h4>
                            </div>
                        </article>
                        <article>
                            <img src="images/laptop-mac.jpg" alt="MacBook" width="500px" class="imagen-de-producto">
                            <div class="main-articulo">
                                <p class="precio">$</p>
                                <p class="descuento">20% off</p>
                                <h4 class="descripcion">MacBook Pro 2019</h4>
                            </div>
                        </article>
                        <article>
                            <img src="images/pc-gamer-armada.jpg" alt="computadora-gamer" width="500px" class="imagen-de-producto">
                            <div class="main-articulo">
                                <p class="precio">$</p>
                                <p class="descuento">15% off</p>
                            <h4 class="descripcion">Computadora gamer, GTX 1060 Intel core i7 12gb RAM</h4>
                        </article>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor">
            <div class="contenido">
                <div class="fila">
                    <div class="columna-del-footer">
                        <ul>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </div>
                    <div class="columna-del-footer-2">
                        <h4>Seguinos en redes</h4>
                        <ul ul class="redes-sociales">
                                <li><a target=_blank href="https://es-la.facebook.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/640px-Facebook_icon.svg.png" alt="Facebook logo" width= "30px" ></a></li>
                                <li><a target=_blank href="https://www.instagram.com/?hl=es-laole"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" alt="Instagram logo" width= "30px" ></a></li>
                                <li><a target=_blank href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/WhatsApp_logo-color-vertical.svg/2048px-WhatsApp_logo-color-vertical.svg.png" alt="What's app logo" width= "30px"></a></li>
                        </ul>
                    </div>
                <div class="copyright">Copyright © por grupo 7</div>
                </div>
            </div>
        </div>   
    </footer>
</body>

</html>