<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <title>Carrito</title>
</head>

<body>
    <header>
        <div class="container-logo-searchbar-cart">
            <div class="container-logo">
                <a href="/">
                    <img class="img-logo" src="/images/logo-modelo-2.png" alt="Logo Encoders">
                </a>
            </div>
            <div class="container-search-and-cart">
                <form action="/detalle-de-producto">
                    <div id="search-lens">
                        <input id="searcher" type="text" name="searcher" placeholder="&#xF002; Buscá tu producto" style="font-family:Arial, FontAwesome">
                    </div>

                    <div class="container-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
        </form>

        <nav
            class="Header-Navbar">

            <!-- Comienza el nav, listas dentro de  tags a -->
            <ul class="nav">
                <a href="">
                    <li>Mi cuenta</li>
                </a>
                <a href="/login">
                    <li>Ingresá</li>
                </a>
                <a href="/carrito-de-compras">
                    <li>Mi Carrito</li>
                </a>
            </ul>
            <!-- Termina el nav.-->
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="container-banner">
            <div class="cuadrado-opacity">
                <img class="img-banner" src="/images/teclado2.jpg" alt="Home Banner">
            </div>
        </div>
    </header>
     <!-- main -->
     <main>
        <img src="/images/carrito.jpg"
        <style>
        h1 {
            text-align:center;
            <title>Carrito de Compras</title>
        }
        </style>
            <h2>{Productos</h2>
            text-align:rigth;
            <h1>Descripción del producto</h1>
        </style>   
        <section>
            <h2>Total</h2>
        </section>
        <section>
            text-
            color: green
            <h2>Comprar</h2>
        </section>
     </main>
     <!-- footer -->
     <footer>
        <div class="contenedor">
            <div class="contenido">
                <div class="fila">
                    <div class="columna-del-footer">
                        <ul>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </div>
                    <div class="columna-del-footer-2">
                        <h4>Seguinos en redes</h4>
                        <ul ul class="redes-sociales">
                                <li><a target=_blank href="https://es-la.facebook.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/640px-Facebook_icon.svg.png" alt="Facebook logo" width= "30px" ></a></li>
                                <li><a target=_blank href="https://www.instagram.com/?hl=es-laole"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" alt="Instagram logo" width= "30px" ></a></li>
                                <li><a target=_blank href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/WhatsApp_logo-color-vertical.svg/2048px-WhatsApp_logo-color-vertical.svg.png" alt="What's app logo" width= "30px"></a></li>
                        </ul>
                    </div>
                <div class="copyright">Copyright © por grupo 7</div>
                </div>
            </div>
        </div>   
    </footer>
</body>
</html>