<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>encoders</title>
    <link href="product.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>

<body>
    <header clas="header2">
        <div class="wrapper">
            <div class="logo"> encoders </div>
            <nav>
                <a href="">Inicio</a>
                <a href="productsDetail.html"> Productos</a>
                <a href="productCart.html"> Carrito de Compras</a>
                <a href="register.html"> Página de Registro</a>
                <a href="login.html"> Página de login</a>

            </nav>
        </div>
        </div>
    </header>

    <body>
        <!-- primer imagen -->

        <section class="contenedor-wrapper">
            <div class="contenedor-Productos">
                <div class="card-producto">
                    <img class="card-producto-img" src="images/Notebook Macbook Pro.jpg" alt="imagen de pc 3">
                    <div class="contenedor-descripcion">
                        <strong>Notebook Macbook Pro</strong>
                        <p> Intel UHD Graphics 617</p>
                        <p>Core i5</p>
                        <strong>$399.999</strong>
                        <br>
                        <button>Añadir</button>
                    </div>

                </div>

                <!-- segundo producto -->

                <div class="card-producto">
                    <img class="card-producto-img" src="images/Notebook Macbook Air.jpg" alt="imagen de pc 3">
                    <div class="contenedor-descripcion">
                        <strong>Notebook Macbook Air</strong>
                        <p>Apple GPU</p>
                        <p>M1 Chip 8-Nucleos CPU </p>
                        <strong>$269.999</strong>
                        <br>
                        <button>Añadir</button>
                    </div>

                </div>


                <!-- tercer producto -->

                <div class="card-producto">
                    <img class="card-producto-img" src="images/imagen de pc 3 Notebook Lenovo.jpg" alt="imagen de pc 3">
                    <div class="contenedor-descripcion">
                        <strong>Notebook Lenovo IDEAPAD 3 15ITL05</strong>
                        <p> Intel Core i3</p>
                        <p> Intel® Core™ i3-1115G4 Processor (6M Cache, up to 4.10 GHz)</p>
                        <strong>$79.999</strong>
                        <br>
                        <button>Añadir</button>
                    </div>

                </div>


                <!-- cuarto producto -->

                <div class="card-producto">
                    <img class="card-producto-img" src="images/Notebook DELL Inspiron14 3000.jpg" alt="imagen de pc 3">
                    <div class="contenedor-descripcion">
                        <strong> Notebook DELL Inspiron14 3000</strong>
                        <p> Intel Core i3 </p>
                        <p> Intel Core i3-1005G1 (1.2 GHz – 3.4 GHz, 4 MB cache, 2 nucleos) </p>
                        <strong>$78.999</strong>
                        <br>
                        <button>Añadir</button>
                        
                    </div>
                </div>
        </section>
    </body>
    <main>
    </main>

    <footer>
    </footer>
