* {margin:0;
    padding: 0;}

body {
    
    background-color:white !important;

}



.container_registro_2{

    text-align: center;
    margin-top: 10em;
    margin-bottom: 10em; 
    margin: 2em;
    padding: 2em;
    background-color: #ffffffb3;
    border-radius: 10px;
    padding-top: 1.5em;
    box-shadow: 0 0 5px 2px #39b54a;
    height: 500px;
    width: 95%;
   
    

    
}

.container_registro_2 input::placeholder{
    color: rgba(57, 181, 74, 0.4);
}

.container_registro_2.edit_form {
    height: 580px;
}

.container_registro_2.edit_form label {
    font-weight: 300;
}

.container_nombre{
    border-radius: 3px;
    font-size: 14px;
    min-height: 40px;
    width: 100%;
    font-weight: 100;
    text-align: center;

    
}


.descripcion{
    border-radius: 3px;
    font-size: 14px;
    min-height: 40px;
    width: 100%;
    font-weight: 100;
    text-align: center;

}


.imagen{
    border-radius: 3px;
    font-size: 14px;
    min-height: 40px;
    width: 100%;
    font-weight: 100;
    text-align: center;  
}


.precio{
    border-radius: 3px;
    font-size: 14px;
    min-height: 40px;
    width: 100%;
    font-weight: 100;
    text-align: center;
   

}


.buttonedit{
    color: #39b54a !important;
    align-items:left;
    margin: 10px;
    padding: 10px; 
    text-decoration: underline;
    width: 500px;

}


