* {margin:0;
    padding: 0;}

body {
    
    background-color:white !important;

}



.container_registro_2{

    text-align: center;
    margin-top: 10em;
    margin-bottom: 10em;
    margin: 2em;
    padding: 2em;
    background-color: rgba (255,255,255,0.7);
    border-radius: 10px;
    padding-top: 1.5em;
    box-shadow: 0 0 5px 2px #39b54a;
    height: 500px;
   
   
    

    
}


.container_nombre{

    background-color: #f8f5f2;
    border-radius: 3px;
    border: solid 1px #ddd;
    font-size: 14px;
    min-height: 40px;
    width: 100%;
    font-weight: 100;
    text-align: center;
    padding:10px;

    
}


.descripcion{
    background-color: #f8f5f2;
    border-radius: 3px;
    border: solid 1px #ddd;
    font-size: 14px;
    min-height: 40px;
    width: 100%;
    font-weight: 100;
    text-align: center;

}


.imagen{
    background-color: #f8f5f2;
    border-radius: 3px;
    border: solid 1px #ddd;
    font-size: 14px;
    min-height: 40px;
    width: 100%;
    font-weight: 100;
    text-align: center;  
}


.precio{
    background-color: #f8f5f2;
    border-radius: 3px;
    border: solid 1px #ddd;
    font-size: 14px;
    min-height: 40px;
    width: 100%;
    font-weight: 100;
    text-align: center;
   

}


