* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

/* aca empieza el main */

main{
    margin-bottom: -300px;
}

.carrusel {
    overflow: hidden;
}

.carrusel figure {
    position: relative;
    width: 500%;
    left: 0;
    animation: 20s carrusel infinite;
}

.carrusel figure img {
    width: 20%;
    float: left;
}
@keyframes carrusel {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.contenedor-productos {
    width: 100%;
    justify-content: center;
    display: flex;
}

.product-list-1{
    background-color: #dfe6e9;
    padding: 20px;
}

.product-list-1 h3{
    font-size: 25px;
}

.product-list-1 .card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: center;
    max-width: 25%;
}

.card .title{
    font-size: 20px;
    font-weight: bold;
}

.card img{
    max-width: 100%;
}

.card .description{
    text-align: left;
    margin-left: 10px;
}

.card .price{
    text-align: left;
    margin-left: 10px;
}

.card .discount{
    text-align: left;
    margin-left: 10px;
}

.buy-button{
    color: white;
    background-color: #39b54a;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: 200ms ease-in;
}

.buy-button:hover{
    box-shadow: 0px 10px 5px #b2bec3;
}

.product-list-2{
    background-color: #dfe6e9;
    padding: 20px;
}

.product-list-2 h3{
    font-size: 25px;
}

.product-list-2 .card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: center;
    max-width: 25%;
}

@media screen and (min-width:768px){
    .imagen-de-producto {
        width: 150px;
        height: 100px;
    }

    .main-articulo {
        font-size: 13px;
    }
}

 @media screen and (min-width:1024px){
    .imagen-de-producto {
        width: 280px;
        height: 200px;
    }

    .main-articulo {
        font-size: 18px;
    }
}

   
/* aca termina el main */

/* aca empieza el footer */


footer{
    background-color: #0d47a1;
    padding: 20px 0;
}

.contenedor{
    width: 100%;
    margin: auto;
}

ul{
    list-style: none;
}

.fila{
    display: flex;
    flex-wrap: wrap;
}

.columna-del-footer{
    width: 50%;
    justify-content: center;
    text-align: center;
    padding: 10px 10px 0 10px;
}

.contenedor::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    height: 5px;
    box-sizing: border-box;
    background-color: #ccff90;
    width: 100%;
}

.columna-del-footer ul li{
    margin-bottom: 10px;
}

.columna-del-footer ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 300ms ease-in;
}

.columna-del-footer ul li a:hover{
    color: #ccff90;
    padding-left: 5px;
}

.columna-del-footer-2 {
    width: 50%;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
}

.columna-del-footer-2 h4{
    color: white;
    font-weight: 500;
    justify-content: center;
    text-align: center;
}

.redes-sociales{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociales li{
    margin: 10px;
}

.copyright{
    width: 100vw;
    font-size: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
/* aca termina el footer*/