/* REGLAS GENERALES */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* REGLAS GENERALES */


/* HEADER */
header {
    background-color: #0d47a1;
}

.container-logo {
    max-width: 50%;
}
.img-logo {
    width: 100%;
}
.container-logo-searchbar-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}
header form {
    display: flex;
    max-width: 100%;
}

#search-lens {
    position: relative;
    max-width: 50%;
}
.fa-search {
    color: #000000;
    position: absolute;
    left: 150px;
    }
    .container-cart {
        z-index: 2;
        top: 3px;
        left: 100px;
        position: relative;
        overflow: visible;
    }
.fa-shopping-cart {
    color: #FFFFFF; 
    position: absolute;
}
li {
    color: #ccff90;
}
.img-banner {
    height: 115px;
    width: 100%;
    margin-bottom: -4px;
}


/* HEADER */


/* MAIN */
.container-door {
position: relative;

}
.doorshut {
    width: 150px;
    height: 140px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 70%;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* MAIN */