* {margin:0;
    padding: 0;}

body {
    
    background-color:white !important;

}

.contenedor-wrapper  {
    width: 100%;
    justify-content: center;
    display: flex;
}

.contenedor-Productos {
 display: flex;
 flex-direction:row;
 margin-bottom: 30px;



}
.card-producto {
    display: flex;
    padding-top: 20px;
}

.card-producto-img {
    width: 75px;
    height: 50px;
}

.contenedor-descripcion {
    align-self: center;
    font-size: 12px;
    padding-left: 10px;
   

}
.contenedor-envio {
    color: #39b54a;
   
}

.contenedor-cuotas{
    color:rgb(108, 108, 245);
}


.contenedor-descripcion > button {
    font-size: 10px;
    margin-top: 5px;
    width: auto !important;
}

@media screen and (min-width:768px){
    .card-producto-img {
        width: 150px;
        height: 100px;
    }

    .contenedor-descripcion {
        font-size: 13px;
    }

    .contenedor-descripcion > button {
        font-size: 11px;
    }
 }

 @media screen and (min-width:1024px){
    .card-producto-img {
        width: 280px;
        height: 200px;
    }

    .contenedor-descripcion {
        font-size: 18px;
    }

    .contenedor-descripcion > button {
        font-size: 16px;
    }
 }

 
 .titleProducts {
    display: flex;
    color: #39b54a;
    align-items: center;
    margin: 10px;
    padding: 10px; 
    text-decoration: underline;

    }

    .titleProducts > h1 {
        flex: 1;
        color: #39b54a;

    }

 .buttonProducts{
    width: 300px;

 }

footer {
   top: 0px !important;
}



    