* {margin:0;
    padding: 0;}

body {
    
    background-color:white !important;

}

.product-detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 30px;
    padding: 20px;
    box-shadow: 30px;
    
   

}


.product-detail2 {
    text-align: center;

}


.products-title {
    text-align:initial;
    color: #39b54a;

}

.fa-credit-card {
    color: #39b54a;
    display: block;
    border-radius: 20px;
    transition: initial;
    transition-property:initial
}

.fa-store{
    color: #39b54a;
    display: block;
    border-radius: 20px;
    transition:all;
    transition-property:initial;

}

.product-detail-img {

height: 460px;

}



.buttonListProduct{

    color: #39b54a;
    align-items:left;
    margin: 10px;
    padding: 10px; 
    text-decoration: underline;
    width: 500px;

}

.titleProducts {
    display: flex;
    color: #39b54a;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 10px;
    padding: 10px; 
    text-decoration: underline;

    }


