* {margin:0;
    padding: 0;}

body {
    
    background-color:white !important;

}

.products-wrapper {
    width: 100%;
    justify-content: center;
   

}

.product-detail{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;  
}

.product-imag {
    display:  flex;
    flex: 100%;
    justify-content: center;
    width: 500%;

}


.product-detail2{
    display:  flex;
    flex: 50%;
    justify-content: right;
}

.product-detail-title{
    width: 300%;

}

.product-detail-info{
    width: 500%;
    justify-content: right;
}