<main>
  <section>
      <div class="carrusel">
          <figure>
              <img src="/images/laptop-HP.jpg" alt="imagen1">
              <img src="/images/laptop-mac.jpg" alt="imagen2">
              <img src="/images/Notebook DELL inspiron14 3000.jpg" alt="imagen3">
              <img src="/images/Notebook Macbook Pro.jpg" alt="imagen4">
              <img src="/images/laptop-HP.jpg" alt="imagen5">
          </figure>
      </div>
  </section>