<footer>
  <div class="contenedor">
      <div class="contenido">
          <div class="fila">
              <div class="columna-del-footer">
                  <ul>
                      <li><a href="#">Contacto</a></li>
                      <li><a href="#">Ayuda</a></li>
                  </ul>
              </div>
              <div class="columna-del-footer-2">
                  <h4>Seguinos en redes</h4>
                  <ul ul class="redes-sociales">
                          <li><a target=_blank href="https://es-la.facebook.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/640px-Facebook_icon.svg.png" alt="Facebook logo" width= "30px" ></a></li>
                          <li><a target=_blank href="https://www.instagram.com/?hl=es-laole"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" alt="Instagram logo" width= "30px" ></a></li>
                          <li><a target=_blank href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/WhatsApp_logo-color-vertical.svg/2048px-WhatsApp_logo-color-vertical.svg.png" alt="What's app logo" width= "30px"></a></li>
                  </ul>
              </div>
          <div class="copyright">Copyright © por grupo 7</div>
          </div>
      </div>
  </div>   
</footer>
</body>

</html>