<body>
    <header>
        <div class="container-header">
            <div class="logo">
                <a href="/"><img src="/images/logo modelo 2.png" width="100px"></a>
            </div>
            <div class="searcher">
                <form action="/products" class="search-bar">
                    <input type="text" placeholder="Busca tu producto" name="searcher">
                    <button type="submit"><img src="/images/search.png"></button>
                </form>
            </div>
            <ul class="nav-bar">
                <li><a href="/">Home</a></li>
                <li><a href="/users/login">Log In</a></li>
                <li><a href="/users/register">Register</a></li>
                <li><a href="/products/car">carrito</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <script src="../header.js"></script>
    </header>
    <main>