<body>
    <header>
        <div class="container-header">
            <div class="logo">
                <a href="/"><img src="/images/logo modelo 2.png" width="100px"></a>
            </div>
            <div class="searcher">
                <form action="/products" class="search-bar">
                    <input type="text" placeholder="Busca tu producto" name="searcher">
                    <button type="submit"><img src="/images/search.png"></button>
                </form>
            </div>
            <ul class="nav-bar">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                
                <% if (locals.isLogged) { %>
                    <img src="/images/users/<%= locals.userLogged.image %>" width="80" style="border-radius: 100%" alt="User img">
                    <li>Hola <%= locals.userLogged.name %></li>
                    <li><a href="/users/userProfile">Profile</a></li>
                    <li><a href="/users/logout">Logout</a></li>
                <% } else { %>
                <li class="nav-item"><a class="nav-link" href="/users/login">Log In</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/register">Register</a></li>
                <% } %>
                <li><a href="/products/car"><i class="fas fa-shopping-basket"></i></a></li>

                <!-- <li><a href="/products/car">carrito</a></li> -->
                
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <script type="text/JavaScript">
            const burger = document.querySelector(".burger");
            const nav = document.querySelector(".nav-bar");

            burger.addEventListener("click", () => {
                nav.classList.toggle("nav-active")
            })
        </script>
    </header>
    <main>