<body>
    <header>
        <div class="container-header">
            <div class="logo">
                <a href="/"><img src="/images/logo modelo 2.png" width="100px"></a>
            </div>
            <div class="searcher">
                <form action="/products" class="search-bar">
                    <input type="text" placeholder="Busca tu producto" name="searcher">
                    <button type="submit"><img src="/images/search.png"></button>
                </form>
            </div>
            <ul class="navbar-nav align-items-center">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <% if (locals.isLogged) { %>
                    <li class="nav-item dropwdown">
                        <a class="nav-link dropwdown-toggle" href="#" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/images/users/default.png" width="40" style="border-radius: 100%" alt="User img">
                            Hola <%= locals.user %>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/users/userProfile">Profile</a>
                    <li><hr class="dropwdown-divider"></li>
                    <a class="dropdown-item" href="/users/logout">Logout</a>
                </ul>
            </li>
                <% } else { %>
                <li><a href="/users/login">Log In</a></li>
                <li><a href="/users/register">Register</a></li>
                <% } %>
                <li><a href="/products/car">carrito</a></li>
                
            </ul>
       
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <script type="text/JavaScript">
            const burger = document.querySelector(".burger");
            const nav = document.querySelector(".nav-bar");

            burger.addEventListener("click", () => {
                nav.classList.toggle("nav-active")
            })
        </script>
    </header>
    <main>