<body>
  <header>
      <div class="all-but-banner">
          <div class="container-logo-searchbar-cart">
              <div class="container-logo">
                  <a href="/">
                      <img class="img-logo" src="/images/logo-modelo-2.png" alt="Logo Encoders">
                  </a>
              </div>
              <div class="container-search-and-cart">
                  <form action="/products">
                      <div id="search-lens">
                          <input id="searcher" type="text" name="searcher" placeholder="&#xF002; Buscá tu producto" style="font-family:Arial, FontAwesome">
                      </div>

                      <div class="container-cart">
                         <a href="/products/car"> <i class="fas fa-shopping-cart"></i> </a>
                      </div>
                  </div>
                  <div class="container-titulo">
                      <h1 class="titulo">PC's por devs, para devs</h1>
                      </div>
              </div>
             
          </form>
          <nav class="Header-Navbar">
              <!-- Comienza el nav, listas dentro de  tags a -->
              <ul class="nav">
                  <a class="list-items-a" href="/users/login">
                      <li>Mi cuenta</li>
                  </a>
                  <a class="list-items-a" href="/users/register">
                      <li>Registrate</li>
                  </a>
                  <a class="list-items-a" href="/products/car">
                      <li>Mi Carrito</li>
                  </a>
              </ul>
              <!-- Termina el nav.-->
          </nav>
          <div class="burger-menu">
              <i class="fas fa-bars"></i>
          </div>
      </div>
      </div>
  </header>