<%- include ('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>

    <!-- <section>
    
 <h2> ENCODERS </h2> -->
        <!-- <section class="arma-tu-pc"></section>
        <section class="product-list-1">
            <h3>En oferta!</h3>
            <div class="card">
                <div class="title">producto 1</div>
                <div class="image"><img src="/images/Apple Macbook Pro.jpg"></div>
                <div class="description">Descripcion</div>
                <div class="price">$$$</div>
                <div class="discount">%</div>
                <div>
                    <button class="buy-button">Comprar</button>
                </div>
            </div>
        </section>
        <section class="product-list-2">
            <h3>Ultimos vistos</h3>
            <div class="card">
                <div class="title">producto 1</div>
                <div class="image"><img src="/images/Apple Macbook Pro.jpg"></div>
                <div class="description">Descripcion</div>
                <div class="price">$$$</div>
                <div class="discount">%</div>
                <div>
                    <button class="buy-button">Comprar</button>
                </div>
            </div>
        </section>  -->

    
<!-- modelo de productos Aurercys -->
            

                <!-- <h2> Basado en tu última visita </h2> -->
                
                <!-- <div class="productos"> -->
                    <!-- <article> -->

                        <!--Esto es imagen del Primer Producto-->
                        <!-- <img src="/images/Apple Macbook Pro.jpg" class="product-img">

                        <div class="contenedor-descripcion-producto">
                            <i class="fas fa-shipping-fast"></i>
                            <div class="precio-descuento">

                                <span class="precio"> $630.000</span>


                                <span class="Descuestos"> 10% OFF </span>

                            </div>


                            <span class="Descripciones">Notebook Apple Macbook-Pro</span>

                        </div>

                    </article> -->

                    <!--Esto es imagen del Segundo Producto-->
                    <!-- <img src="/images/Notebook Macbook Pro.jpg" class="product-img">

                    <div class="contenedor-descripcion-producto">
                        <i class="fas fa-shipping-fast"></i>
                        <div class="precio-descuento">

                            <span class="precio"> 399.999</span>


                            <span class="Descuestos"> 20% OFF </span>

                        </div>


                        <span class="Descripciones">Apple Macbook-Pro </span>

                    </div>

                    </article> -->
                    <!--Esto es imagen del tercer  producto-->
                    <!-- <img src="/images/Notebook Macbook Air.jpg" class="product-img">

                    <div class="contenedor-descripcion-producto">
                        <i class="fas fa-shipping-fast"></i>
                        <div class="precio-descuento">

                            <span class="precio"> $269.999 </span>


                            <span class="Descuestos"> 10% OFF </span>

                        </div>


                        <span class="Descripciones">Macbook-Pro 2019</span>

                    </div>

                    </article> -->

                    <!--Esto es imagen del cuarto producto-->
                    <!-- <img src="/images/laptop-mac.jpg" class="product-img">

                    <div class="contenedor-descripcion-producto">
                        <i class="fas fa-shipping-fast"></i>
                        <div class="precio-descuento">

                            <span class="precio">306.000</span>


                            <span class="Descuestos"> 15% OFF </span>

                        </div>


                        <span class="Descripciones">Macbook-Pro 2019</span>

                    </div>

                    </article> -->


                <!-- </section> -->
                <body>
        
                    <main>
                
                        <section>
                
                            <h2> Basado en tu última visita </h2>
                            <div class="productos">
                                <article>
                
                                    <!--Esto es imagen del próducto 1 monitor -->
                                    <img src="/images/products/Pc Armada Gamer AMD.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                                        <i class="fas fa-shipping-fast"></i>
                                        <div class="precio-descuento">
                
                                            <span class="precio"> $113 </span>
                
                
                                            <span class="Descuestos"> 20% OFF </span>
                
                                        </div>
                
                
                                        <span class="Descripciones"> Pc Armada Gamer AMD </span>
    
                
                                    </div>
                
                                </article>
                
                                <!--Esto es imagen del próducto 2 Computadora Completa-->
                                <article>
                                    <img src="images/products/Computadora Completa Amd.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                
                                        <i class="fas fa-shipping-fast"></i>
                
                                        <div class="precio-descuento">
                
                                            <span class="precio"> $45 </span>
                
                
                                            <span class="Descuestos"> 20% OFF </span>
                
                
                                        </div>
                                        <span class="Descripciones">Pc Intel Dual Core Monitor Led 19 Lol</span>
                
                
                                    </div>
                
                                </article>
                
                                <!--Esto es imagen del próducto 3 Pc Solarmax Intel-->
                
                                <article>
                                    <img src="/images/products/Computadora Pc Cpu.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                
                                        <i class="fas fa-shipping-fast"></i>
                
                                        <div class="precio-descuento">
                
                                            <span class="precio"> $52 </span>
                
                                            <span class="Descuestos"> 20% OFF </span>
                                        </div>
                
                                        <span class="Descripciones">Pc Solarmax Intel</span>
                
                                    </div>
                
                                </article>
                
                                <!--Esto es imagen del próducto 4 PC Gaming Pack Bronze-->
                                <article>
                                    <img src="/images/products/PC Gaming Pack Bronze.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                                        <i class="fas fa-shipping-fast"></i>
                
                                        <div class="precio-descuento">
                
                
                                            <span class="precio"> $90 </span>
                
                
                                            <span class="Descuestos"> 20% OFF </span>
                
                                        </div>
                
                                        <span class="Descripciones"> PC Gaming Pack Bronze</span>
                
                                    </div>
                                </article>
                            </div>
                        </section>
                
                        <!--sección de ofertas-->
                
                        <section>
                            <h2> ofertas </h2>
                            <div class="productos">
                                <article>
                
                                    <!--Esto es imagen del próducto 1 Apple Macbook-->
                                    <img src="/images/products/Apple Macbook Pro.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                                        <i class="fas fa-shipping-fast"></i>
                                        <div class="precio-descuento">
                
                                            <span class="precio">  $630 </span>
                
                
                                            <span class="Descuestos"> 20% OFF </span>
                
                                        </div>
                
                
                                        <span class="Descripciones">Notebook Apple-Macbook-Pro</span>
                                            
                
                
                                    </div>
                                </article>
                                <!-- imagen del producto 2 Notebook Dell Inspiron 3505 Negra -->
                
                                <article>
                                    <img src="/images/products/Notebook Dell Inspiron 3505 Negra.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                
                                        <i class="fas fa-shipping-fast"></i>
                
                                        <div class="precio-descuento">
                
                                            <span class="precio"> $114 </span>
                
                
                                            <span class="Descuestos"> 20% OFF </span>
                
                
                                        </div>
                                        <span class="Descripciones">Notebook Dell Inspiron 3505 Negra</span>
                                            
                
                
                                    </div>
                
                                </article>
                                <!--Esto es imagen del próducto 3 Notebook Hp 15 -->
                                <article>
                                    <img src="/images/products/Notebook Hp 15.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                
                                        <i class="fas fa-shipping-fast"></i>
                
                                        <div class="precio-descuento">
                
                                            <span class="precio"> $70 </span>
                
                                            <span class="Descuestos"> 20% OFF </span>
                                        </div>
                
                                        <span class="Descripciones"> Notebook Hp 15</span>
                
                                    </div>
                
                                </article>
                                <!--Esto es imagen del próducto 4 Notebook Macbook Pro-->
                                <article>
                                    <img src="/images/products/Notebook Macbook Pro.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                                        <i class="fas fa-shipping-fast"></i>
                
                                        <div class="precio-descuento">
                
                
                                            <span class="precio"> $400 </span>
                
                
                                            <span class="Descuestos"> 20% OFF </span>
                
                                        </div>
                
                                        <span class="Descripciones">Notebook Macbook Pro</span>
                
                                    </div>
                                </article>
                            </div>
                        </section>
                
                    </main>
                     
                   
                </body>
                
                </html>
                

                    <%- include('../partials/footer.ejs') %>

