<%- include ('../partials/head.ejs') %>

<%- include('../partials/header.ejs') %>

        <section class="arma-tu-pc"></section>
        <section class="product-list-1">
            <h3>En oferta!</h3>
            <div class="card">
                <div class="title">producto 1</div>
                <div class="image"><img src="/images/Apple Macbook Pro.jpg"></div>
                <div class="description">Descripcion</div>
                <div class="price">$$$</div>
                <div class="discount">%</div>
                <div>
                    <button class="buy-button">Comprar</button>
                </div>
            </div>
        </section>
        <section class="product-list-2">
            <h3>Ultimos vistos</h3>
            <div class="card">
                <div class="title">producto 1</div>
                <div class="image"><img src="/images/Apple Macbook Pro.jpg"></div>
                <div class="description">Descripcion</div>
                <div class="price">$$$</div>
                <div class="discount">%</div>
                <div>
                    <button class="buy-button">Comprar</button>
                </div>
            </div>
        </section>
    <%- include('../partials/footer.ejs') %>