<%- include ('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>
                  
                        <section>
                
                            <h2> Basado en tu última visita </h2>
                            
                            <div class="productos">
                                <article>
                
                                    <!--Esto es imagen del próducto 1 monitor -->
                                    <img src="/images/products/Pc Armada Gamer AMD.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                                        <i class="fas fa-shipping-fast"></i>
                                        <div class="precio-descuento">
                
                                            <span class="precio"> $113 </span>
                
                
                                            <span class="Descuestos"> 20% OFF </span>
                
                                        </div>
                
                
                                        <span class="Descripciones"> Pc Armada Gamer AMD </span>
    
                
                                    </div>
                
                                </article>
                
                                <!--Esto es imagen del próducto 2 Computadora Completa-->
                                <article>
                                    <img src="images/products/Computadora Completa Amd.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                
                                        <i class="fas fa-shipping-fast"></i>
                
                                        <div class="precio-descuento">
                
                                            <span class="precio"> $45 </span>
                
                
                                            <span class="Descuestos"> 20% OFF </span>
                
                
                                        </div>
                                        <span class="Descripciones">Pc Intel Dual Core Monitor Led 19 Lol</span>
                
                
                                    </div>
                
                                </article>
                
                                <!--Esto es imagen del próducto 3 Pc Solarmax Intel-->
                
                                <article>
                                    <img src="/images/products/Computadora Pc Cpu.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                
                                        <i class="fas fa-shipping-fast"></i>
                
                                        <div class="precio-descuento">
                
                                            <span class="precio"> $52 </span>
                
                                            <span class="Descuestos"> 20% OFF </span>
                                        </div>
                
                                        <span class="Descripciones">Pc Solarmax Intel</span>
                
                                    </div>
                
                                </article>
                
                                <!--Esto es imagen del próducto 4 PC Gaming Pack Bronze-->
                                <article>
                                    <img src="/images/products/PC Gaming Pack Bronze.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                                        <i class="fas fa-shipping-fast"></i>
                
                                        <div class="precio-descuento">
                
                
                                            <span class="precio"> $90 </span>
                
                
                                            <span class="Descuestos"> 20% OFF </span>
                
                                        </div>
                
                                        <span class="Descripciones"> PC Gaming Pack Bronze</span>
                
                                    </div>
                                </article>
                            </div>
                        </section>
                
                        <!--sección de ofertas-->
                
                        <section>
                            <h2> ofertas </h2>
                            <div class="productos">
                                <article>
                
                                    <!--Esto es imagen del próducto 1 Apple Macbook-->
                                    <img src="/images/products/Apple Macbook Pro.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                                        <i class="fas fa-shipping-fast"></i>
                                        <div class="precio-descuento">
                
                                            <span class="precio">  $630 </span>
                
                
                                            <span class="Descuestos"> 20% OFF </span>
                
                                        </div>
                
                
                                        <span class="Descripciones">Notebook Apple-Macbook-Pro</span>
                                            
                
                
                                    </div>
                                </article>
                                <!-- imagen del producto 2 Notebook Dell Inspiron 3505 Negra -->
                
                                <article>
                                    <img src="/images/products/Notebook Dell Inspiron 3505 Negra.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                
                                        <i class="fas fa-shipping-fast"></i>
                
                                        <div class="precio-descuento">
                
                                            <span class="precio"> $114 </span>
                
                
                                            <span class="Descuestos"> 20% OFF </span>
                
                
                                        </div>
                                        <span class="Descripciones">Notebook Dell Inspiron 3505 Negra</span>
                                            
                
                
                                    </div>
                
                                </article>
                                <!--Esto es imagen del próducto 3 Notebook Hp 15 -->
                                <article>
                                    <img src="/images/products/Notebook Hp 15.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                
                                        <i class="fas fa-shipping-fast"></i>
                
                                        <div class="precio-descuento">
                
                                            <span class="precio"> $70 </span>
                
                                            <span class="Descuestos"> 20% OFF </span>
                                        </div>
                
                                        <span class="Descripciones"> Notebook Hp 15</span>
                
                                    </div>
                
                                </article>
                                <!--Esto es imagen del próducto 4 Notebook Macbook Pro-->
                                <article>
                                    <img src="/images/products/Notebook Macbook Pro.jpg" class="product-img">
                
                                    <div class="contenedor-descripcion-producto">
                                        <i class="fas fa-shipping-fast"></i>
                
                                        <div class="precio-descuento">
                
                
                                            <span class="precio"> $400 </span>
                
                
                                            <span class="Descuestos"> 20% OFF </span>
                
                                        </div>
                
                                        <span class="Descripciones">Notebook Macbook Pro</span>
                
                                    </div>
                                </article>
                            </div>
                        </section>
                
            
                

                    <%- include('../partials/footer.ejs') %>

