<%- include ('../partials/head.ejs') %>

<%- include('../partials/header.ejs') %>
<%- include('../partials/carrousel.ejs') %>
<section class="arma-tu-pc"></section>
        <section>
            <h3>Ofertas limitadas</h3>
            <div class="contenedor-productos">
                <section class="ofertas">
                    <div class="productos">
                        <article>
                            <img src="images/laptop-HP.jpg" alt="Laptop-Hp" width="500px" class="imagen-de-producto">
                            <div class="main-articulo">
                                <p class="precio">$</p>
                                <p class="descuento">mouse inalambrico de regalo</p>
                                <h4 class="descripcion">Laptop Hp stream pro 11</h4>
                            </div>
                        </article>
                        <article>
                            <img src="images/laptop-mac.jpg" alt="MacBook" width="500px" class="imagen-de-producto">
                            <div class="main-articulo">
                                <p class="precio">$</p>
                                <p class="descuento">20% off</p>
                                <h4 class="descripcion">MacBook Pro 2019</h4>
                            </div>
                        </article>
                        <article>
                            <img src="images/pc-gamer-armada.jpg" alt="computadora-gamer" width="500px" class="imagen-de-producto">
                            <div class="main-articulo">
                                <p class="precio">$</p>
                                <p class="descuento">15% off</p>
                            <h4 class="descripcion">Computadora gamer, GTX 1060 Intel core i7 12gb RAM</h4>
                        </article>
                    </div>
                </article>
            </div>
        </section>
    <%- include('../partials/footer.ejs') %>