<%- include ('../partials/head.ejs') %>

<%- include('../partials/header.ejs') %>
            <section>
                <article>
                    <form action="/users/login" method="POST">
                        <div class="caja-login">
                            <div class="container-del-container">
                                <div class="container-door">
                                    <img class="doorshut" src="/images/doorshut.png" alt="Door Shut">
                                </div>
                            </div>
                            <h1 class="login-title">Inicia Sesión con tu Mail</h1>
                            <div class="container-username">
                                <label for="email"></label>
                                <input type="text" name="email" id="email" placeholder="Ingresá tu mail">
                                <% if (locals.errors && errors.email) { %>
                                    <div class="text-danger">
                                        <%= errors.email.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="container-password">
                                <label for="password"></label>
                                <input type="password" name="password" id="password" placeholder="Ingresá tu contraseña">
                                <div class="eyelash-slash">
                                    <i class="far fa-eye-slash"></i>
                                </div>
                                <div class="eyelash">
                                    <i class="far fa-eye"></i>
                                </div>
                            </div>
                            <div class="container-button">
                                <button type="submit">
                                    <span class="text">Ingresar</span>
                                </button>
                            </div>
                            <div class="container-rememberme">
                                <label for="remember-me"></label>
                                <p class="p-rememberme">
                                    Recordar mi cuenta</p>
                                <div class="container-checkbox">
                                    <input type="checkbox" name="remember-me" id="remember-me" checked>
                                </div>
                            </div>

                        </form>
                        <div class="container-retrieve-register">
                            <div class="container-retrieve-password">
                                <p>Recuperar mi contraseña</p>
                            </div>
                            <div class="container-register">
                                <a href="/users/register">
                                    <p>Registrarme</p>
                                </a>
                            </div>
                        </div>
                        <div class="container-securty-policies">
                            <p>Política de privacidad</p>
                        </div>
                    </div>
                </article>
            </section>

    <%- include('../partials/footer.ejs') %>