<%- include ('../partials/head.ejs') %>

<%- include('../partials/header.ejs') %>
            <section>
                <div>
                    <form action="/register" method="POST">
                        <div class="caja-register">
                            <h1 class="register-title">Registrate</h1>
                            <div class="container-first-name">
                                <label for="first-name"></label>
                                <input type="text" name="first-name" id="first-name" placeholder="Ingresá tu nombre">
                            </div>
                            <div class="container-last-name">
                                <label for="last-name"></label>
                                <input type="text" name="last-name" id="last-name" placeholder="Ingresá tu apellido">
                            </div>
                            <div class="container-username">
                                <label for="username"></label>
                                <input type="text" name="username" id="username" placeholder="Ingresá tu nombre de usuario">
                            </div>
                             <div class="container-password">
                                        <label for="password"></label>
                                        <input type="password" name="password" id="password" placeholder="Ingresá tu contraseña">
                                        <div class="eyelash-slash">
                                            <i class="far fa-eye-slash"></i>
                                        </div>
                                    </div>
                                <div class="container-email">
                                    <label for="email"></label>
                                    <input type="email" name="email" id="email" placeholder="Ingresá tu email">
                                </div>
                                <div class="container-avatar">
                                    <label for="avatar"></label>
                                    <input type="file" name="avatar" id="avatar" placeholder="Subí tu foto de perfil">
                                </div>
                            </div>
                            <div class="container-button">
                                <button type="submit">
                                    <span class="text">Ingresar</span>
                                </button>
                            </div>
                            <div class="container-rememberme">
                                <label for="remember-me"></label>
                                <p class="p-rememberme">
                                    Recordar mi cuenta</p>
                                <div class="container-checkbox">
                                    <input type="checkbox" name="remember-me" id="remember-me" checked>
                                </div>
                            </div>

                        </form>
                        <div class="container-retrieve-register">
                            <div class="container-retrieve-password">
                                <p>Recuperar mi contraseña</p>
                            </div>
                            <div class="container-register">
                                <a href="/users/register">
                                    <p>Registrarme</p>
                                </a>
                            </div>
                        </div>
                        <div class="container-securty-policies">
                            <p>Política de privacidad</p>
                        </div>
                    </div>
               
                </article>
            </section>

    <%- include('../partials/footer.ejs') %>